.btn {

    &-three{

        .btn-content{
            background-color: #b6de3e;
        }

        text-align: center;
        font-size: 18px;

        &:focus, &:active {
            outline: none !important;
        }
        &:hover{
            opacity: 0.8;
            color: $dark !important;
            p{
                color: $dark!important;
            }
        }

        div{
            display: flex;
            align-items: center;
        }

        span{
            background-color: white;
            height: 67px;
            width: 67px;
            color: $dark;

            &:before{
                margin: auto;
                align-content: center;
                display: block;
                top: 23px;
                position: relative;
            }
        }

        p{
            color: white !important;
            display: inline-block;
            padding: 20px;
            margin: 0;
            text-transform: uppercase;
            @include Mobile(){
                font-size: 12px;
                padding: 0 5px;
            }
        }
    }

    &-third{
        p{
            color: #fff;
        }
        &:hover p{
            color: #3a3a3a;
        }
    }

    &-secondary{
        p{
            margin: 0;
        }
    }

    &-phone{
        span{
            background-color: #f1f5e7;
        }
    }

}

.btn-arrow:after{
    font-family: "fontello";
    padding-left: 5px;
    content: '\e911';
}

.wpcf7-form-control.wpcf7-submit{
    background: linear-gradient(to right, #abdb78 50%,#B6DE3E 50%) no-repeat scroll right bottom / 210% 100% #B6DE3E !important;
    &:hover{
        background-position: left bottom !important;
        color: #666572 !important;
    }
}